body{
  background-color: #EDE9F2
}

h1, h3, h5 {
  font-family: Serif;
  color: #8E6BBF;
  font-style:normal;
}

h2, h4, h6 {
  font-family: Serif;
  color: #AE8FD9;
  font-style:normal;
}

p {
  color:black;
}

.topNav {
  background-color: #DED0F2;
  display: flex;
  width: 100%;
  height: 3rem;
  margin-top: 5px;
}

.logo {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.spacer {
  flex-grow: 2
}

.links {
  background-color:#DED0F2;
  flex-grow: 1;
  display:flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 12px;
  text-align: right;
}

.links a{
  flex-grow: 1;
  color: #AE8FD9;
}

.intro {
  display: grid;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.25fr 0.75fr 0.50fr;
  grid-gap: 1rem;
}

.leftPannelPicture {
  background-color: red;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  text-align: center;
  overflow: hidden;
  border-style: solid;
  border-color: #8E6BBF;
  border-width: medium;
}

.leftPannelPicture img {
  width: 100%;
  height: auto;
  align-items: center;
  vertical-align: middle;
}

.leftPannelText {
  background-color: blue;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 1rem 1rem 1rem 1rem;
}

.rightPannelTitle {
  background-color: yellow;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 0.5rem 1rem;
}

.rightPannelText {
  background-color: green;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  padding: 1rem 1rem 1rem 1rem;
}


@media screen and (max-width:400px) {
  .topNav {
    padding: 2px 2px 2px 2px;
  }
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 0.5fr 1fr;
  }

  .leftPannelPicture {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }

  .leftPannelText {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .rightPannelTitle {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }

  .rightPannelText {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
}

@media screen and (max-width:1900px) {
  h1 {
    font-size: 200%;
  }
}
