body{
  background-color: #EDE9F2
}

h1, h3, h5 {
  font-family: Serif;
  color: #8E6BBF;
  font-style:normal
}

h2, h4, h6 {
  font-family: Serif;
  color: #AE8FD9;
  font-style:normal;
}

.topNav {
  background-color: #AE8FD9;
  overflow: hidden
}

.topNav a{
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNav a.active {
  background-color: #8E6BBF;
  color:white;
}

.topNav .icon {
  display:none;
}


@media screen and (max-width:400px) {
  html {font-size: 70%;
    flex:100%;
    flex-flow: column wrap;
  }
  img {
    max-width: 100%
  }
  .topNav a:not (:first-child) {
    display:none;
  }
  .topNav a.icon {
    float: right;
    display:block;
  }
}

@media screen and (max-width:1900px) {
  html {
    font-size: 70%;
    flex:100%;
    flex-flow: column wrap;

  }
}
